services:
  - name: app-web
    type: web
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    region: frankfurt
    branch: main
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: app-db
          property: connectionString

databases:
  - name: app-db
    plan: free
    region: frankfurt